src/main/mule/accountDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="accountDetailsFlow" doc:id="b30fb704-a59e-4e2e-8799-7fe7067e2f72" >
		<logger level="INFO" doc:name="Logger" doc:id="2d5858df-cc6a-49e1-8424-fbfdc2073ede" />
		<db:select doc:name="Select" doc:id="75459cb9-d1e6-4f96-a913-4afb4672d2ca" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where accountId=:accountId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	accountId:attributes.uriParams.accountId
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="6025f368-2ec6-4bcd-8a9c-701d65063dc8" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="f5952919-85f1-4ced-b07d-91a246fc2526">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="9bf43686-f1e6-4297-9f3a-3695eee19af0" type="ACC:INVALID_ACCOUNT" description="Invalid Account Number"/>
			</otherwise>
		</choice>
		<error-handler >
			
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0e37eea1-6218-4907-a912-7aad14a551fe" type="ACC:INVALID_ACCOUNT">
				<ee:transform doc:name="Transform Message" doc:id="54666f78-4a18-444c-9e6e-465f7c8ce57f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode:400,
	message: error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			
		</error-handler>
	</flow>
</mule>
