target/META-INF/mule-src/flightbookingapi/src/main/mule/deleteAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleteAccountFlow" doc:id="198101a0-f582-4dce-bbe0-99bcfec71576" >
		<logger level="INFO" doc:name="Logger" doc:id="4f31a31b-b036-4f9c-8d6b-afab0874f808" message="accountDetailsFlow starts--------"/>
		<db:delete doc:name="Delete" doc:id="dbe9cfbc-577b-4a85-847f-8e5fb4f61e6b" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from account where accountId = :accId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	accId:attributes.uriParams.accountId
}]]]></db:input-parameters>
		</db:delete>
		<choice doc:name="Choice" doc:id="688e0d68-3bd3-406d-9e58-5ba65d5120d0" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="ffa81807-83a0-4f5b-a00e-296be5e7028d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	statusCode:204,
	message: "No Content" 
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="55faf4d8-215f-475b-aa00-e14f17051729">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	statusCode:200,
	message: "Account Id" ++ vars.accountId  as String ++ "deleted successfully" 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="80cfd2b4-84d2-4d26-a6e3-ce8916ccd410" message="Resonse from DB---------- #[payload]" />
	</flow>
</mule>
