target/META-INF/mule-src/flightbookingapi/src/main/mule/flightbookingapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="flightbookingapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="flightbookingapi-config" api="flightbookingapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="flightbookingapi-main">
        <http:listener config-ref="flightbookingapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flightbookingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flightbookingapi-console">
        <http:listener config-ref="flightbookingapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flightbookingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\airIndiaFlights:flightbookingapi-config">
        <flow-ref doc:name="airIndiaFlightsByWSConsumerFlow" doc:id="3d580af1-0548-47fa-b013-54797b2cf1fd" name="airIndiaFlightsByWSConsumerFlow" />
    </flow>
    <flow name="get:\indigoFlights:flightbookingapi-config">
        <flow-ref doc:name="indigoFlightsFlow" doc:id="87ccf0a3-0065-4600-a1fb-8eccbb2b0280" name="indigoFlightsFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="682a68cc-afb4-460e-8130-c8e6a45b3faf" message="finalreponse sent" />
    </flow>
    <flow name="get:\searchAllFlights:flightbookingapi-config">
        <flow-ref doc:name="searchAllFlightsFlow" doc:id="368963b8-6bf8-47af-b4e1-fb9b1dc18b7f" name="searchAllFlightsFlow" />
    </flow>
    <flow name="post:\createAccount:application\json:flightbookingapi-config">
        <flow-ref doc:name="createAccountFlow" doc:id="30fe65d7-0cd0-4ae2-b156-b2d93a9992d8" name="createAccountFlow" />
    </flow>
    <flow name="post:\account:application\json:flightbookingapi-config">
        <flow-ref doc:name="createAccountFlow" doc:id="bd650531-f7f4-4b32-8d45-7cd359be02b5" name="createAccountFlow" />
    </flow>
    <flow name="get:\accountDetails:flightbookingapi-config">
        <flow-ref doc:name="accountDetailsFlow" doc:id="b9be129c-fa6f-45dc-b609-941de3b67227" name="accountDetailsFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="98c67661-5fa4-4244-834f-9dbeca84c62d" message="Final reponse sent--------" />
    </flow>
    <flow name="get:\account\(accountId):flightbookingapi-config">
        <flow-ref doc:name="accountDetailsFlow" doc:id="4fb632e7-7e27-4fe5-9e1f-829ace2561a3" name="accountDetailsFlow" />
    </flow>
    <flow name="delete:\account\(accountId):flightbookingapi-config">
		<ee:transform doc:name="Transform Message" doc:id="208118e8-ce0a-44f4-b12c-567c51768c36" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[attributes.uriParams.accountId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="deleteAccountFlow" doc:id="2bbfac1a-0bdf-45e4-b1cd-18c4759ff4fa" name="deleteAccountFlow"/>
    </flow>
    <flow name="patch:\account\(accountId):application\json:flightbookingapi-config">
		<ee:transform doc:name="Transform Message" doc:id="b16468b1-29c4-4c25-9c69-8bbb78cfd51f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[attributes.uriParams.accountId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="updateAccountFlow" doc:id="fbcc961a-62f1-43c3-a790-6a9848875249" name="updateAccountFlow"/>
    </flow>
</mule>
